/* Seletor universal */
* {
    margin: 0;
    padding: 0;
}

/* Seletor de tag */
a {
    color: black; /* cor do texto */
    text-decoration: none;  /* remove o sublinhado */
    font-size: 22px; /* Tamanho da fonte */
    font-family: Tahoma; /* Altera a fonte */
    font-weight: bold; /* Altera o peso da fonte */
}

li {
    list-style-type: none; /* altera o bullet do li */
}

/* selecionando pela class */
.form-div {
    margin-bottom: 20px;
}

/* Selecionando o elemento pelo id */
#btn-submit {
    padding: 12px;
    font-weight: bold; 
    background-color: orange; /* cor de fundo */
    font-size: 18px;
    border-style: solid; /* estilo da borda */
    border-width: 1px; /* largura da borda */
    border-color: black; /* cor da borda */
    height: 45px; /* altura do botão */
    cursor: pointer; /* muda o ponteiro do mouse quando passa em cima */
}

#header {
    display: flex; /* posiciona os elementos internos um ao lado do outro */
    justify-content: space-between; /* Crie um espaço entre o h1 e o nav */
    padding: 15px;
    background-color: #ccc;
    align-items: center; /* centraliza os elementos internos na vertical */
}

ul {
    width: 250px; /* Largura da lista */
    display: flex;
    justify-content: space-around; /* Coloca um espaçamento entre os itens/links */
}

.main {
    height: 95vh; /* Altura de 95% da tela do dispositivo */
    padding-top: 10px;
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centraliza na vertical */
}
